html {
    background-color: rgba(0,0,0, 0.8);
}
body {
	font-family:  sans-serif;
	
	
}
/* width */
::-webkit-scrollbar {
	width: 12px;
}
  
/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
	background: grey; 
	border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(120,120,120); 
}
#drag_drop {
	
	width: 100%;
	text-align: center;
	background: #dededede;
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-size: x-large;
}
#file_input {
	background-color: red;
	padding-top: 10%;
	padding-bottom: 10%;
	height: 100%;
}
#file_input_hidden {
	visibility: hidden;
}
#resetButton {
	background-color: #aaa;
	padding-top: 5%;
	padding-bottom: 5%;
	width: 75%;
	border: none;
	
}
#drag_drop > * {
	position: relative;
	font-size: 25px;
	left: 50%;
	transform: translate(-50%);
	margin-top: 5%;
	margin-bottom: 5%;
}
#main {
	width:  50%;
	position: absolute;
	left:  50%;
	transform: translate(-50%);
	display: flex;
	flex-direction: column;
}
#main > div{
	width: 100%;
	margin-bottom: 5%;
}
#header {
	text-align: center;
	padding-top: 2%;
	padding-bottom: 2%;
	color: white;
	width: fit-content;
	height:  fit-content;
	background-color: rgba(255, 255, 255, 0.35);
	border-radius:  25px;
}

#submission {
	-webkit-box-shadow: 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0); 
	box-shadow: 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
	background-color:  white;

}
#submission > * {
	margin: 5%;
}
#footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: aliceblue;
	
}
#resetButton{
	font-size: 30px; 
	background: 10px;
	background-color: #aaa;
	border: 1px black;
}
.button {
	position: relative;
	padding: 30px;
	background: #009579;
	border: none;
	outline: none;
	border-radius: 2px;
	cursor: pointer;
	width: 75%;
  }
  
  .button:active {
	background: #007a63;
  }
  
  .button__text {
	font: 30px;
	color: #ffffff;
	transition: all 0.2s;
  }
  
  .button--loading .button__text {
	visibility: hidden;
	opacity: 0;
  }
  
  .button--loading::after {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border: 4px solid transparent;
	border-top-color: #ffffff;
	border-radius: 50%;
	animation: button-loading-spinner 1s ease infinite;
  }
  
  @keyframes button-loading-spinner {
	from {
	  transform: rotate(0turn);
	}
  
	to {
	  transform: rotate(1turn);
	}
  }