@import url('https://fonts.googleapis.com/css2?family=Golos&display=swap');
html, body{
	
	height: 100%;
}
html {
    
	height: 100%;
}
body {
	background-image: linear-gradient(to bottom, #0049B7 30%, #00DDFF 45%, #FFF685 55%, #F75990 65%, #FF1D58 75%, #0049B7 100%) !important;
	
	background: repeat;
	
	background-size: 100% 100%;
	font-family:  sans-serif;
	margin: 0;
	padding: 0;
	font-family: 'Golos', sans-serif;
	
}
body::before {
	content: "";
	background-image: url("grain.jpg");
	
	background-repeat: repeat-y;
	/* background-position: center;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 0) 0%); */
	opacity: 0.1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* transform: translate(0%, 50%); */
	position: fixed;
	z-index: -1;
  }
/* width */
::-webkit-scrollbar {
	width: 12px;
}
  
/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
	background: grey; 
	border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(120,120,120); 
}
#drag_drop {
	
	width: 100%;
	text-align: center;
	background: #dededede;
	border-radius: 0.5rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-size: x-large;
}
#file_input {
	background-color: #0049B7;
	padding-top: 5%;
	padding-bottom: 5%;
	cursor: pointer;
	width: 75%;
	color: white;
	border-radius: 5rem;
}

#resetButton {
	background-color: #FF1D58;
	padding-top: 5%;
	padding-bottom: 5%;
	width: 75%;
	border: none;
	color: white;	
	border-radius: 5rem;
	cursor: pointer;
}

#drag_drop > * {
	position: relative;
	font-size: 25px;
	left: 50%;
	transform: translate(-50%);
	margin-top: 5%;
	margin-bottom: 5%;
}
#main {
	width: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding: 0;
}  
#main > div{
	width: 100%;
	
}
#header {

	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px; 
	color: white;
	width: fit-content;
	height:  fit-content;
	background-color: #0049B7;
	border-radius:  25px;
	box-shadow: 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
}

#submission {
	-webkit-box-shadow: 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0); 
	box-shadow: 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
	background-color:  white;

}
#submission > * {
	margin: 5%;
}
#footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: aliceblue;
	
}

  
.button--loading .button__text {
	visibility: hidden;
	opacity: 0;
}
  
.button--loading::after {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border: 4px solid transparent;
	border-top-color: #ffffff;
	border-radius: 50%;
	animation: button-loading-spinner 1s ease infinite;
}
  
@keyframes button-loading-spinner {
	from {
		transform: rotate(0turn);
	}

	to {
		transform: rotate(1turn);
	}
}
.text-container {
	margin: 0;
	position: relative;
	width: 90%;
	padding: 10px;
	border-radius: 0.5rem;
	background-color: black;
	color: white;
	
}
  
.text-container h2 {
	background-color: #ccc;
	color: white;
	padding: 5px 10px;
	margin: 0;
}
.title {
	position: absolute;
	background-color: #4b4949;
	width: 100%;
	border-radius: 0.375rem;
	margin: 0;
	top: 0;
	left: 0;
	text-align: left;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}
.title span{
	padding-left: 5px;
	color: whitesmoke;
	
}
.text-container p{
	
	padding-top: 30px;
}  
.copy-button {
	position: absolute;
	top: 0;
	font-size: large;
	right: 0;
	background-color: #333;
	color: white;
	padding: 5px 10px;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 0 0.5rem 0 0.5rem;
}

  
