<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>
<body>
    <script>
        window.addEventListener("paste", function(e){
            var item = Array.from(e.clipboardData.items).find(x => /^image\//.test(x.type));
            
            var blob = item.getAsFile();

            var img = new Image();

            img.onload = function(){
                document.body.appendChild(this);
            };

            img.src = URL.createObjectURL(blob);
        });
    </script>
    <div>Click on the body and press Ctrl-V</div> 
</body>
</html>