<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image is Empty Lines</title>
</head>
<body>
    <style>
        h1{
            color: red;
        }
        button{
            border: 50%;
            border: 10px;
            border-color: blue;
        }
    </style>
    <form action = "/noLines" method = "POST" >
        <h1 >No Lines to be Read</h1>
        <input type="button" onclick="form.submit()" value="Click here to Go Back" class="btn">
    </form>
</body>
</html>